// IRMA 'login form'
//
// A place to nicely show the different states of the IRMA disclosure flow
//
// Markup:
// <section class="irma-web-form">
//   <p>Inloggen met <img src="https://raw.githubusercontent.com/privacybydesign/irma_mobile/master/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png"/></p>
//   <button>Some action here</button>
// </section>
//
// Styleguide Components.IRMA login

@import '../mixins/reset',
        '../mixins/fonts',
        '../mixins/responsiveness',
        '../variables/colours';

.irma-web-form {
  @include reset;
  @include font($size: 20px);
  width: 80%;
  min-width: 260px;
  max-width: 400px;
  padding: 2em 3px;

  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 10px;

  text-align: center;

  p {
    @include reset;
    padding: 0em 2em 2em 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;

    @include on-small-screen {
      padding: 0em 1em 1em 1em;
      margin-bottom: 1em;
    }
  }

  p img {
    @include reset;
    height: 50px;
    vertical-align: middle;
  }

  .irma-web-qr-code {
    margin: 0px auto;
  }

  @include on-small-screen {
    padding: 1em 3px;
  }
}
