@charset "UTF-8";
.irma-web-center-child {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
.irma-web-form {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #4C4C4C;
  width: 80%;
  min-width: 260px;
  max-width: 400px;
  padding: 2em 3px;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 10px;
  text-align: center;
}
.irma-web-form p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  padding: 0em 2em 2em 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 768px) {
  .irma-web-form p {
    padding: 0em 1em 1em 1em;
    margin-bottom: 1em;
  }
}
.irma-web-form p img {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 50px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .irma-web-form {
    padding: 1em 3px;
  }
}

.irma-web-qr-code {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 258px;
  height: 258px;
  background-color: white;
  border: 1px solid #cccccc;
  z-index: 0;
}
.irma-web-qr-code:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
.irma-web-qr-code:after {
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #7f7f7f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}
.irma-web-qr-code.loading:before {
  background-size: 30%;
  background-position: center 75px;
}
.irma-web-qr-code.loading:after {
  content: "Eén moment alsjeblieft";
  line-height: 360px;
}
.irma-web-qr-code.waiting-for-user:before {
  background-size: 20%;
  background-position: center 65px;
}
.irma-web-qr-code.waiting-for-user:after {
  content: "Volg de instructies op je telefoon";
  line-height: 390px;
}
.irma-web-qr-code.cancelled:after {
  content: "Transactie is geannuleerd";
  line-height: 256px;
}
@media screen and (max-width: 768px) {
  .irma-web-qr-code {
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=application.css.map */
