.irma-web-center-child {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
.irma-web-form {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 266px;
  max-width: 400px;
  min-height: 480px;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .irma-web-form {
    min-height: 440px;
  }
}
.irma-web-form .header {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  flex: 0 0 auto;
  padding: 2em;
  margin: 0 3px;
  z-index: 1;
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #cccccc;
}
@media screen and (max-width: 768px) {
  .irma-web-form .header {
    padding: 1em;
  }
}
.irma-web-form .header p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #4C4C4C;
}
@media screen and (max-width: 768px) {
  .irma-web-form .header p {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4C4C4C;
  }
}
.irma-web-form .header img {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 50px;
  vertical-align: middle;
}
.irma-web-form .content {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
}
.irma-web-form .content .centered {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: auto;
  text-align: center;
}
.irma-web-form .content p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #7f7f7f;
  margin: 1em 4em;
}
@media screen and (max-width: 768px) {
  .irma-web-form .content p {
    margin: 1em 2em;
  }
}
.irma-web-form .content a {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #4C4C4C;
  text-decoration: underline;
}
.irma-web-form .content a:hover {
  color: #00b1e7;
}
.irma-web-form .content .helper {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: auto;
  background-color: #d45e3a;
  border: 1px solid #b44827;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -webkit-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.irma-web-form .content .helper.active {
  transform: translateY(0%);
}
.irma-web-form .content .helper.auto-activate {
  -ms-animation: auto-activate 0.4s ease-in-out 10s 1 forwards;
  -webkit-animation: auto-activate 0.4s ease-in-out 10s 1 forwards;
  animation: auto-activate 0.4s ease-in-out 10s 1 forwards;
}
@-ms-keyframes auto-activate {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes auto-activate {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes auto-activate {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}
.irma-web-form .content .helper p, .irma-web-form .content .helper a {
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
}
.irma-web-form .content .helper p {
  margin: 1em;
  text-align: center;
}

.irma-web-qr-code {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 256px;
  height: 256px;
  background-color: white;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
}
.irma-web-button {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #4C4C4C;
  display: inline-block;
  padding: 2.5em;
  background-color: #00b1e7;
  border: 1px solid #008ab4;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.irma-web-button:active {
  transform: translate(1px, 1px);
  box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.5);
}
.irma-web-button:focus {
  outline: 0;
}

.irma-web-loading-animation {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 39px;
  height: 39px;
}
.irma-web-loading-animation * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.irma-web-loading-animation * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 33%;
  height: 33%;
  background-color: #00b1e7;
  float: left;
  -ms-animation: loading-animation 1.3s infinite ease-in-out;
  -webkit-animation: loading-animation 1.3s infinite ease-in-out;
  animation: loading-animation 1.3s infinite ease-in-out;
}
.irma-web-loading-animation *:nth-child(1) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.irma-web-loading-animation *:nth-child(2) {
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.irma-web-loading-animation *:nth-child(3) {
  -ms-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.irma-web-loading-animation *:nth-child(4) {
  -ms-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.irma-web-loading-animation *:nth-child(5) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.irma-web-loading-animation *:nth-child(6) {
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.irma-web-loading-animation *:nth-child(7) {
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.irma-web-loading-animation *:nth-child(8) {
  -ms-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.irma-web-loading-animation *:nth-child(9) {
  -ms-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-ms-keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@-webkit-keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes loading-animation {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.irma-web-waiting-for-user-animation {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 30px;
  height: 50px;
  position: relative;
  background-color: #00b1e7;
  border-radius: 2px;
  -ms-animation: waiting-for-user-animation 2s infinite ease-in-out;
  -webkit-animation: waiting-for-user-animation 2s infinite ease-in-out;
  animation: waiting-for-user-animation 2s infinite ease-in-out;
}
.irma-web-waiting-for-user-animation:before, .irma-web-waiting-for-user-animation:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
}
.irma-web-waiting-for-user-animation:before {
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 10px;
  border-radius: 1px;
}
.irma-web-waiting-for-user-animation:after {
  width: 6px;
  height: 6px;
  left: 50%;
  bottom: 2px;
  margin-left: -3px;
  border-radius: 50%;
}
@-ms-keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.8, 0.8, 1);
    transform: scale3D(0.8, 0.8, 1);
  }
}
@-webkit-keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.8, 0.8, 1);
    transform: scale3D(0.8, 0.8, 1);
  }
}
@keyframes waiting-for-user-animation {
  0%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3D(0.8, 0.8, 1);
    transform: scale3D(0.8, 0.8, 1);
  }
}

/*# sourceMappingURL=application.css.map */
